<!DOCTYPE html>
<html>
<head>
	<!-- todo: cleanup - move css, js to separate files -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>KGNU CD Gifts</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- vue and axios js -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<style>
	.received {
		text-decoration: line-through;
	}

	th {
		cursor: pointer;
		color: #919191;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}


	th.active {
		color: #000000;
	}

	th.active .arrow {
		opacity: 1;
	}

	.arrow {
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 0;
		margin-left: 5px;
		opacity: 0.66;
	}

	.arrow.asc {
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-bottom: 4px solid #929292;
	}

	.arrow.dsc {
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid #929292;
	}

</style>

</head>

<body>
	<div class="container">
		<br>
		<div class="row">
			<div class="col">
				<h3>KGNU CD Thank You Gifts</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				<img class="img-fluid img-thumbnail" src="img/cd-blue.png" alt="">
			</div>
			<div class="col-8">
				<p>We have too many CDs available as thank you gifts to mention on air!</p>
				<p>To claim a CD, mention the specific <strong>Album Title</strong> and <strong>Artist</strong> in the thank you gift area on the donation form.</p>
				<p>
					<a href="https://give.kgnu.org" target="_blank" class="btn btn-success"><i class="fa fa-dollar" style=""></i>  Donate Now</a>
					<a href="https://www.kgnu.org" class="btn btn-info">Back to KGNU</a></p>
			</div>
		</div>
		<hr>
		<div id="cd-list">
			<p>
			<strong>Search:</strong>
				<input name="query" v-model="searchQuery" placeholder=""></p>
				<demo-grid
				:data="gridData"
				:columns="gridColumns"
				:filter-key="searchQuery">
			</demo-grid>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

	<!-- component template -->
	<script type="text/x-template" id="grid-template">
		<div v-if="filteredData.length < 1 && filterKey == '' ">
			<p><i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
				<em>Loading</em>
			</p>
		</div>
		<div v-else>
			<div vclass="table-responsive">
				<table class="table table-sm table-striped" >
					<thead>
						<tr>
							<th v-for="key in columns"
							@click="sortBy(key)"
							:class="{ active: sortKey == key }">
							{{ key | capitalize }}
							<span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
							</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="entry in filteredData">
						<td v-for="key in columns">
							{{entry[key]}}
						</td>
					</tr>
				</tbody>
			</table>
		</div></div>
	</script>

	<!-- todo: make this a js import -->
	<script>

	// cdlist key: 1TbS7XG-SYaCJozVz2EtQkWbUHez6IRCJB23ZhLphgBM
	const cdURI = "https://spreadsheets.google.com/feeds/list/1TbS7XG-SYaCJozVz2EtQkWbUHez6IRCJB23ZhLphgBM/1/public/values?alt=json";

		// respose field format
		// ["0"].gsx$artist.$t

		// fetch CD  data from google spreadsheet

		let cdData = [];

		axios.get(cdURI)
		.then(function (response) {
			const items = response.data;

		for (item of items.feed.entry) {
			let artist = item.gsx$artist.$t;
			let album = item.gsx$title.$t;
			let genre = item.gsx$genre.$t; // todo: make Cap case
			let number = item.gsx$number.$t;
			let amount = item.gsx$amount.$t;
			let visible = item.gsx$visible.$t;

		thisgift = { album: album, artist: artist, genre: genre, number: number, donation: amount};

		if (number != "0" && visible === "yes") {
			cdData.push(thisgift);}
			}
		})
		.catch(function (error) {
			console.log(error);
			cdData.push({ title: "Whoops!", description: "Could not load CD list", genre: ""})
			});

// fancy table component
Vue.component('demo-grid', {
	template: '#grid-template',
	props: {
		data: Array,
		columns: Array,
		filterKey: String
	},
	data: function () {
		var sortOrders = {}
		this.columns.forEach(function (key) {
			sortOrders[key] = 1
		})
		return {
			sortKey: '',
			sortOrders: sortOrders
		}
	},
	computed: {
		filteredData: function () {
			var sortKey = this.sortKey
			var filterKey = this.filterKey && this.filterKey.toLowerCase()
			var order = this.sortOrders[sortKey] || 1
			var data = this.data
			if (filterKey) {
				data = data.filter(function (row) {
					return Object.keys(row).some(function (key) {
						return String(row[key]).toLowerCase().indexOf(filterKey) > -1
					})
				})
			}
			if (sortKey) {
				data = data.slice().sort(function (a, b) {
					a = a[sortKey]
					b = b[sortKey]
					return (a === b ? 0 : b > a ? 1 : -1) * order
				})
			}
			return data
		}
	},
	filters: {
		capitalize: function (str) {
			return str.charAt(0).toUpperCase() + str.slice(1)
		}
	},
	methods: {
		sortBy: function (key) {
			this.sortKey = key
			this.sortOrders[key] = this.sortOrders[key] * -1
		}
	}
})

// bootstrap the demo
var app = new Vue({
	el: '#cd-list',
	data: {
		searchQuery: '',
		gridColumns: ['album', 'artist', 'genre', 'donation'],
		gridData: cdData
	}
})
</script>

</body>
</html>